<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>图书馆管理系统</title>
<!-- plugins:css -->
<link rel="stylesheet" href="/Libray/public/static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/Libray/public/static/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="/Libray/public/static/css/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="/Libray/public/static/images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html"><img src="/Libray/public/static/images/logo.png" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/Libray/public/static/images/logo-mini.png" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <div class="search-field d-none d-md-block">
          <form class="d-flex align-items-center h-100" action="#">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>                
              </div>
              <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
            </div>
          </form>
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <div class="nav-profile-text">
                <p class="mb-1 text-black">图书管理员</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="#">
                <i class="mdi mdi-cached mr-2 text-success"></i>
               切换账户
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{:url('logout')}">
                <i class="mdi mdi-logout mr-2 text-primary"></i>
              注销
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2">{$username}</span>
                <span class="text-secondary text-small">图书管理员</span>
              </div>
              <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <span class="menu-title">主页</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-title">图书管理</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-file menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="bookinf.html">图书信息</a></li>
               <li class="nav-item"> <a class="nav-link" href="borrowinf.html">借阅信息</a></li>
               <li class="nav-item"> <a class="nav-link active" href="fineinf.html">罚款信息</a></li>
              </ul>
            </div>
          </li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
							<span class="menu-title">图书相关信息管理</span>
							<i class="menu-arrow"></i>
							<i class="mdi mdi-calendar-text menu-icon"></i>
						</a>
						<div class="collapse" id="ui-basic1">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item"> <a class="nav-link" href="author.html">作者管理</a></li>
								<li class="nav-item"> <a class="nav-link" href="readtype.html">类别管理</a></li>
								<li class="nav-item"> <a class="nav-link" href="address.html">地址管理</a></li>
								<li class="nav-item"> <a class="nav-link" href="publish.html">出版社管理</a></li>
							</ul>
						</div>    
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
							<span class="menu-title">用户相关信息管理</span>
							<i class="menu-arrow"></i>
							<i class="mdi mdi-account menu-icon"></i>
						</a>
						<div class="collapse" id="ui-basic2">
							<ul class="nav flex-column sub-menu">
							<li class="nav-item"> <a class="nav-link" href="user.html">用户管理</a></li>
							</ul>
						</div>
					</li>

          <li class="nav-item sidebar-actions">
            <span class="nav-link">
              <div class="border-bottom">
                <h6 class="font-weight-normal mb-3">当前日期</h6>                
              </div>
              <div class="mt-4">
                <ul class="gradient-bullet-list mt-4">
                  <li><h5 id="time"></h5></li>
                </ul>
              </div>
            </span>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
        <div class="page-header">
        <h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white mr-2">
				<i class="mdi mdi-home"></i>                 
			</span>
        	罚款信息
        </h3>
        	<nav aria-label="breadcrumb">
        	<ol class="breadcrumb">
        	<li class="breadcrumb-item"><a href="#">罚款信息</a></li>
        	<li class="breadcrumb-item active" aria-current="page">图书管理</li>
        	</ol>
        </nav>
        </div>
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
            	<div class="card">
            	<div class="card-body">
            		<h4 class="card-title">罚款信息</h4>
 <input type="text" class="form-control" id="search" placeholder="请输入你要搜索的信息">
                    <table class="table table-hover" id="fineinf">
                        <thead>
                        <tr>
                            <th>图书名称</th>
                            <th>读者姓名</th>
                            <th>图书编号</th>
                            <th>借书日期</th>
                            <th>还书日期</th>
                            <th>罚款金额</th>
                            <th>当前状态</th>
                        </tr>
                        </thead>
                        {volist name="books" id="val"}
                        <tbody>
                        <tr>
                            <td>{$val.bookname}</td>
                            <td>{$val.Rname}</td>
                            <td>{$val.BookId}</td>
                            <td>{$val.nowDate}</td>
                            <td>{$val.Treturntime}</td>
                            <td>{$val.finermoney}</td>
                            <td>{$val.stat}</td>
                        </tr>
                        </tbody>
                        {/volist}
                    </table>
            	</div>
            	</div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">版权所有@ChenJueChong & SongJun</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="/Libray/public/static/vendors/js/vendor.bundle.base.js"></script>
  <script src="/Libray/public/static/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
	<script src="/Libray/public/static/js/jquery-3.3.1.min.js"></script>
  <script src="/Libray/public/static/js/off-canvas.js"></script>
  <script src="/Libray/public/static/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/Libray/public/static/js/dashboard.js"></script>
 <script type="text/javascript">
      $(function() {
          $('#search').keyup(function(){
              $('#fineinf tbody tr').hide()
                  .filter(":contains('" +($(this).val()) + "')").show();
          }).keyup();//DOM加载完时，绑定事件完成之后立即触发
      });
  </script>
<script type="text/javascript">
	var Y,M,D;
		function fillZero(v){
			if(v<10){v='0'+v;}
			return v;
	}
	  $(function () {
        var d=new Date();
        Y=d.getFullYear();
        M=fillZero(d.getMonth()+1);
        D=fillZero(d.getDate());
        $("#time").text(Y+' 年'+M+' 月'+D+' 日');
    });
		
</script>
  <!-- End custom js for this page-->
</body>

</html>

